# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

jobs:
- job: Build

  pool:
    name: BuildPool
    strategy:
      matrix:
        Python39:
          python.version: '3.9.13'

  steps:

#- task: UsePythonVersion@0
#  inputs:
#    versionSpec: '$(python.version)'
  #  displayName: 'Use Python $(python.version)'

      
  - script: |
      py -m ensurepip --upgrade
      py -m pip config set global.trusted-host "pypi.org files.pythonhosted.org pypi.python.org download.pytorch.org" 
      py -m pip install --proxy http://ccsmtl.proxy.mtl.rtss.qc.ca:8080 -r $(Build.Repository.LocalPath)/CheXpert2/requirements.txt 
      py -m pip install --proxy http://ccsmtl.proxy.mtl.rtss.qc.ca:8080 -r $(Build.Repository.LocalPath)/requirements_dev.txt
    displayName: 'Install dependencies'

  - script: |
    
      py -m pytest ./tests
    displayName: 'pytest'
  
  - script: |
      py -m black ./CheXpert2 
      py -m pylint ./CheXpert2 
    displayName: 'pytest'

